
.divider-container {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
    margin: 40px 0;
    background-color: white;
}

.divider-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: var(--tertiary-color);
    transform: translateY(-50%);
}

.divider-element {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateY(-50%);
    animation: moveDot 8s infinite alternate ease-in-out;
}

.element-1 {
    background-color: var(--primary-color);
    left: -30px;
    animation-delay: 0s;
}

.element-2 {
    background-color: var(--secondary-color);
    left: -30px;
    animation-delay: 2s;
}

.element-3 {
    background-color: var(--quaternary-color);
    left: -30px;
    animation-delay: 4s;
}

@keyframes moveDot {
    0% {
        left: -30px;
        transform: translateY(-50%) scale(1);
    }
    50% {
        transform: translateY(-50%) scale(1.5);
    }
    100% {
        left: calc(100% + 30px);
        transform: translateY(-50%) scale(1);
    }
}

@media (max-width: 768px) {
    .divider-container {
        height: 40px;
    }
    .divider-element {
        width: 20px;
        height: 20px;
    }
}
