:root {
    --primary-color: #fd460a; /* Naranja */
    --secondary-color: #2440fb; /* Azul */
    --tertiary-color: #000 ; /* negro */
    --quaternary-color: #f1fe33; /* Amarillo */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", sans-serif;
    line-height: 1.6;
    height: 100vh;
    overflow-x: hidden;
}

.linea1{
    background-color: white;
    padding: 30px;
}

/* Slider de patrocinadores */
#sponsor-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegúrate de que sea suficientemente alto */
    background-color: white;
    transition: opacity 0.3s ease;
}

/* Slider oculto por defecto */
.slider-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

/* Slider visible */
.slider-visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}



.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    overflow: hidden;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 16);
}

.slide {
    height: 100px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: 100px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 8px;
}

.slide img:hover {
    transform: scale(1.1);
    filter: blur(2px);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 8));
    }
}

/* Navbar principal */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 100px; /* Esto debería coincidir con la altura del slider */
    left: 0;
    width: 100%;
    transition: top 0.3s ease, transform 0.3s ease;
    z-index: 1001; /* Asegúrate de que sea suficiente */
}
/* Cuando el slider está oculto, mueve la navbar hacia arriba */


.navbar-shift {
    top: 0; /* Ajusta esto según la altura del slider */
}


.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.logo {
    height: 60px;
}

.text-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-1,
.text-2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.text-1:hover {
    color: var(--secondary-color);
    transition: color 0.5s, transform 0.5s;
}

.text-2:hover {
    color: var(--primary-color);
    transition: color 0.5s, transform 0.5s;
}

/* Links de navegación */
.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-1 a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.btn-2 a:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

/* Botones de Login y Registro */
.btns-lg {
    display: flex;
    gap: 15px;
}

.login, 
.register {
    font-family: "Comfortaa", sans-serif;
    color: white;
    border-radius: 34px;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: black;
    border: 2px solid transparent;
    transition: box-shadow 0.4s ease-out, transform 0.4s ease-out, color 0.4s ease-out;
}

.login {
    border-color: var(--primary-color);
}



.register {
    border-color: var(--secondary-color);
}

.login:hover {
    box-shadow: inset 400px 50px 0 0 var(--primary-color);
    color: white;
}

.register:hover {
    box-shadow: inset -400px -50px 0 0 var(--secondary-color);
    color: white;
}

/* Redes sociales */
.redes {
    display: flex;
    gap: 30px;
}

.redes a {
    color: #ffffff;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
}

.redes a:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

/* Anuncios */
.anuncios-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.anuncio {
    background: white;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    max-width: 200px;
}

.anuncio:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.anuncio-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.ver-mas {
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.ver-mas:hover {
    transition: box-shadow 0.4s ease-out, transform 0.4s ease-out, color 0.4s ease-out;
    color: var(--primary-color);
}

.cerrar-anuncio {
    transition: box-shadow 0.4s ease-out, transform 0.4s ease-out, color 0.4s ease-out;
    font-size: 14px;
    color: #999;
    cursor: pointer;
}

.cerrar-anuncio:hover {
    color: var(--primary-color);
}

/* Modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    display: none;
    z-index: 1000;
}

.modal.active {
    display: block;
}

.modal-overlay.active {
    display: block;
}

/* Estilo para el cierre del modal */
.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #000;
    z-index: 1002;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.cerrar-modal:hover {
    color: var(--primary-color);
}

/* Efecto de desenfoque cuando se muestra el modal */
.blur-background {
    filter: blur(5px);
    opacity: 0.5;
    transition: filter 0.3s, opacity 0.3s;
}

.no-scroll {
    overflow: hidden;
}

/* Estilos generales del footer */
.footer {
    background-color: var(--tertiary-color);
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Contenedor del contenido del footer */
.footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos del texto del footer */
.footer p {
    margin: 0;
    font-size: 14px;
}

/* Contenedor de los botones del footer */
.footer-buttons {
    margin-top: 10px;
}

/* Estilos de los botones del footer */
.footer-button {
    font-family: "Comfortaa", sans-serif;
    color: var(--primary-color);
    border-radius: 34px;
    padding: 8px 15px;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 5px;
}

.footer-button:hover {
    background-color: var(--primary-color);
    color: white;
}

